.product-card {
  display: flex;
  gap: 20px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.product-card:hover {
  background-color: #f7f7f7;
}

/* Image */
.product-img {
  position: relative;
}

.product-img img {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

/* Discount badge */
.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #cc0c39;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}

/* Info */
.product-info {
  flex: 1;
}

/* Title */
.product-name {
  color: #007185;
  font-size: 18px;
}

.product-name:hover {
  color: #c45500;
  cursor: pointer;
}

/* Seller */
.product-seller {
  font-size: 14px;
  color: #565959;
}

/* Rating */
.product-rating {
  font-size: 14px;
  margin: 5px 0;
}
.product-rating svg {
  color: gold;
}
/* Price */
.price-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.discount-price {
  font-size: 20px;
  font-weight: bold;
  color: #b12704;
}

.original-price {
  font-size: 14px;
  color: #565959;
  text-decoration: line-through;
}

/* Stock */
.product-stock {
  font-size: 14px;
  color: green;
}

/* Button */
.add-cart-btn {
  background-color: #ffd814;
  border: 1px solid #fcd200;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.add-cart-btn:hover {
  background-color: #f7ca00;
}
